@-webkit-keyframes floatingCursor{
	0%{
		top: -4px;
		left: -1px;		
	}	
	
	50%{
		top: 2px;
		left: 2px;
	}
	
	100%{
		top: -5px;
		left: -1px;				
	}
}

body, .ui-content {
    background-color: #000;
}

#container {
    position: relative;
    width: 320px;
    height: 480px;
    overflow: hidden;
    margin: auto;
    border: 1px solid #fff;
}

#loadingScreen{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: black;
    width: 100%;
    height: 100%;
    background: url('resources/images/loadingScreen.png'); 
    display: none;
}

#loadingBar{ 
    position: relative;
    top: 400px;
    left: 85px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
  
}

#loadingProgress{
    
    position: relative;
    
    height: 100%;
    width: 50%;  /* Starting Position */
    
    background-color: #FAE134;
}

#comingSoon{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1100;
	background-color: black;
	width: 100%;
	height: 100%;
	background: url('resources/images/future.png');	
	display: none;	
}


#videoPlayer{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1100;
	background-color: black;
	width: 100%;
	height: 100%;
	display: none;	
}


#menuScreen{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;	
	background: url('resources/images/menuScreen.png');
	width: 100%;
	height: 100%;
	display: none;

}

#menu{
	position: relative;
	width: 175px;
	height: 175px;
	left: 155px;
	top: 265px;
}

#menuCursor{
	position: relative;
	left: 3px;
	top: 3px;
}

#cursor{
	position: relative;	
	-webkit-animation-name: floatingCursor;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;	
	top: -5px;
	left: -5px;
}

#intro {
    height: 100%;
    width: 100%;
    display: none;
}

#introFrame {
    height: 100%;
    width: 100%;
    border: 0;
}

#gameScreen {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #ffe2b2;
}

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    
    #bg_0_1, #bg_0_2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 1470px;
        z-index: 50;
        background: url('resources/images/bgclouds.png');
    }
    
    #bg_0_2 {
        top: 1470px;
    }
    
    #bg_1_1, #bg_1_2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 1470px;
        z-index: 100;
        background: url('resources/images/bgtrees.png');
    }
    
    #bg_1_2 {
        top: 1470px;
    }
    
    #staticCanvas {
        z-index: 150;
    }
    
    #monkeyCanvas {
        z-index: 200;
    }
    
    #score {
        position: absolute;
        bottom: 10px;
        text-align: center;
        z-index: 250;
        color: #ccffff;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        text-shadow: #003366 0 0 5px;
    }

#endScreen {
    display: none;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

    .gameOverText {
        margin: 50px 0;
    }
    
    .instructionText {
        margin: 50px 0;
        font-size: 16px;
    }