body, .ui-content {
    background-color: #000;
}


#container {
    position: relative;
    width: 320px;
    height: 480px;
    overflow: hidden;
    background-color: #ffe2b2;
}

#menuScreen{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;	
	background: url('resources/images/menuScreen.png');
	width: 100%;
	height: 100%;
	display: none;

}

#menu{
	position: relative;
	width: 175px;
	height: 175px;
	left: 155px;
	top: 265px;
}

#menuCursor{
	position: relative;
	left: 3px;
	top: 3px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#bg_0_1, #bg_0_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 1470px;
    z-index: 50;
    background: url('resources/images/bgclouds.png');
}

#bg_0_2 {
    top: 1470px;
}

#bg_1_1, #bg_1_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 1470px;
    z-index: 100;
    background: url('resources/images/bgtrees.png');
}

#bg_1_2 {
    top: 1470px;
}

#staticCanvas {
    z-index: 150;
}

#monkeyCanvas {
    z-index: 200;
}

#score {
    position: absolute;
    bottom: 10px;
    text-align: center;
    z-index: 250;
    color: #ccffff;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-shadow: #003366 0 0 5px;
}