body, .ui-content {
    background-color: #000;
}

#container {
    position: relative;
    width: 320px;
    height: 480px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#vinecanvas {
    background-color: #fff;
}